.fan{
    width: 30%;
    margin: 10px;
    user-select: none;
    box-shadow: .1px .1px 5px #888;
}
.fanHeader{
    text-align: center;
    width: 100%;
    background-color: #7223b4;
    color: #fff;
    padding:20px 10px;
}
.fanHeader img{
    width: 50%;
    border-radius: 50%;
}
.upload,.download{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px;
    border-bottom: 1px solid #666;
}
.upload:hover,.download:hover{
    background-color: rgba(0, 0, 0, 0.01);
}
.a{
    width: 100%;
    height: 20px;
    text-decoration: none;
    color: #000;
    text-decoration: none;
}
.counter{
    padding: 5px;
    line-height: 10px;
    background-color: red;
    color: #fff;
    border-radius: 50%;
}
@media screen and (max-width:991px) {
    .fan{
        width: 45%;
    }
}
@media screen and (max-width:576px) {
    .fan{
        width: 100%;
    }
}