.home{
    width: 100%;
}
.fanlar{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0 1%;
    gap: 0%;
    align-items:center;
    justify-content: flex-start;
}